.navigation {
  height: 70px;
  margin: auto 25px;
  display: flex;
  justify-content: space-between;

  .nav-logo-container {
    height: 100%;
    margin-left: auto;
  }
  .logo-space{
    margin-left: auto;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
